[workspace]
channels = ["conda-forge", "bioconda"]
platforms = ["linux-64", "linux-aarch64"]
name = "n2bin-containers"
version = "0.1.0"

[tasks.build]
args = [ "environment" ]
cmd="apptainer build --arch amd64 --build-arg environment={{ environment }} --force {{ environment }}.sif base.def"

[tasks.build-all]
depends-on = [
    { task = "build", args = ["samtools"] },
    { task = "build", args = ["samblaster"] },
    { task = "build", args = ["bwa-mem2"] },
    { task = "build", args = ["fastp"] },
    { task = "build", args = ["fastqc"] },
    { task = "build", args = ["freebayes"] },
    { task = "build", args = ["snpeff"] },
    { task = "build", args = ["snpsift"] },
    { task = "build", args = ["bcftools"] },
    { task = "build", args = ["cnvkit"] },
    { task = "build", args = ["plink"] },
]

[dependencies]
apptainer = ">=1.4.5,<2"

[environments]
samtools = {features=["samtools"], no-default-feature=true}
samblaster = {features=["samblaster"], no-default-feature=true}
bwa-mem2 = {features=["bwa-mem2"], no-default-feature=true}
fastp = {features=["fastp"], no-default-feature=true}
fastqc = {features=["fastqc"], no-default-feature=true}
freebayes = {features=["freebayes"], no-default-feature=true}
snpeff = {features=["snpeff"], no-default-feature=true}
snpsift = {features=["snpsift"], no-default-feature=true}
bcftools = {features=["bcftools"], no-default-feature=true}
cnvkit = {features=["cnvkit"], no-default-feature=true}
plink = {features=["plink"], no-default-feature=true}


[feature.samtools]
platforms = ["linux-64"]
dependencies = {samtools = ">=1.23,<2"}
activation.env.APP_ENTRYPOINT = "samtools"
activation.env.APP_TEST_CMD = "samtools --version"

[feature.samblaster]
platforms = ["linux-64"]
dependencies = {samblaster = ">=0.1.26,<0.2"}
activation.env.APP_ENTRYPOINT = "samblaster"
activation.env.APP_TEST_CMD = "samblaster --version"

[feature.bwa-mem2]
platforms = ["linux-64"]
dependencies = {bwa-mem2 = ">=2.3,<3"}
activation.env.APP_ENTRYPOINT = "bwa-mem2"
activation.env.APP_TEST_CMD = "bwa-mem2 version"

[feature.fastp]
platforms = ["linux-64"]
dependencies = {fastp = ">=1.1.0,<2"}
activation.env.APP_ENTRYPOINT = "fastp"
activation.env.APP_TEST_CMD = "fastp --version"

[feature.fastqc]
platforms = ["linux-64"]
dependencies = {fastqc = ">=0.12.1,<0.13"}
activation.env.APP_ENTRYPOINT = "fastqc"
activation.env.APP_TEST_CMD = "fastqc --version"

[feature.freebayes]
platforms = ["linux-64"]
dependencies = {freebayes = ">=1.3.10,<2"}
activation.env.APP_ENTRYPOINT = "freebayes"
activation.env.APP_TEST_CMD = "freebayes --version"

[feature.snpeff]
platforms = ["linux-64"]
dependencies = {snpeff = ">=5.4.0a,<6"}
activation.env.APP_ENTRYPOINT = "snpEff"
activation.env.APP_TEST_CMD = "snpEff -version"

[feature.snpsift]
platforms = ["linux-64"]
dependencies = {snpsift = ">=5.4.0a,<6"}
activation.env.APP_ENTRYPOINT = "SnpSift"
activation.env.APP_TEST_CMD = "which SnpSift"

[feature.bcftools]
platforms = ["linux-64"]
dependencies = {bcftools = ">=1.23,<2"}
activation.env.APP_ENTRYPOINT = "bcftools"
activation.env.APP_TEST_CMD = "bcftools --version"

[feature.cnvkit]
platforms = ["linux-64"]
dependencies = {cnvkit = ">=0.9.12,<0.10"}
activation.env.APP_ENTRYPOINT = "cnvkit.py"
activation.env.APP_TEST_CMD = "cnvkit.py version"

[feature.plink]
platforms = ["linux-64"]
dependencies = {plink = ">=1.90b7.7,<2"}
activation.env.APP_ENTRYPOINT = "plink"
activation.env.APP_TEST_CMD = "plink --version"